{% macro customCssInput(name, settings, isField) %}
    {% from "_includes/forms" import select, text -%}

    {% set customCssOptions = [
        { label : 'Default', value: '' }
    ] -%}

    {# add-in asset resources -#}
    {% set craftVolumes = craft.app.volumes.getAllVolumes() -%}
    {% if craftVolumes is not empty -%}
        {% set customCssOptions = customCssOptions|merge([{ optgroup: 'Volumes' }]) -%}
        {% for volume in craftVolumes -%}
            {% set customCssOptions = customCssOptions|merge({ ('folder:' ~ volume.id): volume.name }) -%}
        {%- endfor %}
    {%- endif %}

    {# add-in plugins -#}
    {% set craftPlugins = craft.app.plugins.getAllPluginInfo() -%}
    {% if craftPlugins is not empty -%}
        {% set customCssOptions = customCssOptions|merge([{ optgroup: 'Plugin resource' }]) -%}
        {% for pluginHandle, plugin in craftPlugins -%}
            {% set customCssOptions = customCssOptions|merge({ ('plugin:' ~ pluginHandle): plugin.name }) -%}
        {%- endfor %}
    {%- endif %}

    <div class="input ltr">
        <div class="flex">
            <div>
                <div class="select">
                    {% set fieldKey = name ~ 'Type' -%}
                    {{ select({
                        id: fieldKey,
                        name: (isField ? fieldKey : 'settings[' ~ fieldKey ~ ']'),
                        options: customCssOptions,
                        value: settings[fieldKey],
                    }) }}
                </div>
            </div>
            <div class="flex-grow">
                {% set fieldKey = name ~ 'File' -%}
                {{ text({
                    id: fieldKey,
                    class: 'ltr',
                    name: (isField ? fieldKey : 'settings[' ~ fieldKey ~ ']'),
                    value: settings[fieldKey],
                    placeholder: "path/to/css/file.css"|t
                }) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro uploadLocationInput(name, settings) %}
    {% from "_includes/forms" import select, text %}

    {% set volumeOptions = [
        { label: 'Default webroot', value: '' }
    ] -%}

    {% set craftVolumes = craft.app.volumes.getAllVolumes() -%}
    {% if craftVolumes is not empty -%}
        {% set volumeOptions = volumeOptions|merge([{ optgroup: 'Volumes' }]) -%}
        {% for volume in craftVolumes -%}
            {% set volumeOptions = volumeOptions|merge({ ('folder:' ~ volume.id): volume.name }) -%}
        {%- endfor %}
    {%- endif %}

    <div class="input ltr">
        <div class="flex">
            <div>
                <div class="select">
                    {{ select({
                        id: name ~ 'Source',
                        name: name ~ 'Source',
                        options: volumeOptions,
                        value: settings[name ~ 'Source'],
                    }) }}
                </div>
            </div>
            <div class="flex-grow">
                {{ text({
                    id: name ~ 'SubPath',
                    class: 'ltr',
                    name: name ~ 'SubPath',
                    value: settings[name ~ 'SubPath'],
                    placeholder: "path/to/subfolder"|t
                }) }}
            </div>
        </div>
    </div>
{% endmacro %}